# To jest mój pierwszy Jupyter Notebook

Super.Jest świetnie. (_działa kursywa!_)

In [1]:
print("Hello,world!")

Hello,world!

In [2]:
print(2+2)

4

In [3]:
1*0

0

In [5]:
10**3

1000

In [6]:
2+2*7

16

In [7]:
15**15

437893890380859375

In [8]:
a=3

In [9]:
a+1

4

In [10]:
b=100

In [11]:
a*b

300

In [12]:
ulamek=2/3
ulamek

0.6666666666666666

In [13]:
ulamek+1/3

1.0

In [14]:
tekst="jakiś tekst"
inny_tekst="jakiś inny tekst"

In [15]:
tekst+inny_tekst

'jakiś tekstjakiś inny tekst'

In [16]:
tekst*3

'jakiś tekstjakiś tekstjakiś tekst'

In [17]:
type(a)

int

In [18]:
a=5
b="4"
a+b

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [21]:
a=13+3/2/0.123123123

In [22]:
a

25.18292684145122

Chcemy napisać na ekranie coś takiego:"zmienna a jest równa:25.121214"

In [24]:
print("zmienna a jest równa:"+ a)

TypeError: can only concatenate str (not "float") to str

In [26]:
print("zmienna a jest równa:"+ str(a))

zmienna a jest równa:25.18292684145122

In [27]:
type(str(a))

str

In [28]:
str(a)

'25.18292684145122'

In [33]:
a="ala"
b=" ma "
c=3
d=" koty"
a+b+str(c)+d

'ala ma 3 koty'